.Move {
    display: inline-block;
    width: 250px;
    padding: 16px;
    text-align: center;
    background-color: white;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.Move:hover,
.Move:active {
    background-color: #C0DDF5;
}