.MenuContainer {
    background-color: white;
}

.MenuButton {
    display: inline-block;
    width: 45%;
    padding: 16px;
    text-align: center;
    background-color: white;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.MenuButton:hover,
.MenuButton:active {
    background-color: #C0DDF5;
}